<div class="user_info">
    <h1><%= @employee.last_name %></h1>
    <h1><%= @employee.first_name %></h1>
    <h1><%= @employee.middle_name %></h1>
</div>
<div class="user_info">
    <h3><%= t('views.employees.show.position') %>: <%= @last_position %></h3>
    <h3><%= t('views.employees.show.salary') %>: <%= @salary %></h3>
    <p><%= t('views.employees.show.department_id') %>: <%= @employee.department_id %></p>
</div>
<hr/>
<p><%= t('views.employees.show.employee_id') %>: <%= @employee.id %></p>
<p><%= t('views.employees.show.passport_data') %>: <%= @employee.passport_data %></p>
<hr/>
<div class="user_info">
    <p><%= t('views.employees.show.date_of_birth') %>: <%= @employee.date_of_birth %></p>
    <p><%= t('views.employees.show.place_of_birth') %>: <%= @employee.place_of_birth %></p>
</div>
<hr/>
<p><%= t('views.employees.show.home_address') %>: <%= @employee.home_address %></p>
<h1>----- <%= t('views.employees.show.position_history') %></h1>

<h4><%= t('views.employees.show.add_position') %></h4>
<%= form_with(model: @position_history, data: { turbo: false }, url: employee_position_histories_path(@employee)) do |f| %>
    <%= f.collection_select :position_id, Position.all, :id, :name, prompt: t('views.employees.show.select_position') %>
    <%= f.label t('views.employees.show.started_on') %>
    <%= f.date_field :started_on %>
    <%= f.label t('views.employees.show.finished_on') %>
    <%= f.date_field :finished_on %>
    <%= f.hidden_field :employee_id, value: @employee.id %>
    <%= f.submit t('views.employees.show.submit') %>
<% end %>

<% if flash[:position_errors] %>
 <p><%= flash[:position_errors].join(', ') %></p>
<% end %>
<br>

<% if @position %>
    <%= link_to t('views.employees.show.edit'), edit_employee_position_history_path(@employee, @position) %>
<% end %>
<br>
<% @position_histories.reverse.each do |position_history| %>
    <tr>
        <td><%= t('views.employees.show.position') %>: <%= position_history.position.name %></td>
        <br>
        <td><%= t('views.employees.show.started_on') %>: <%= position_history.started_on %></td>
        <br>
        <td><%= t('views.employees.show.finished_on') %>: <%= position_history.finished_on %></td>
    </tr>
    <hr>
    <br>
<% end %>

<br>
<br>

<h2><%= t('views.employees.show.vacations_list') %></h2>
<br>
<h4><%= t('views.employees.show.add_vacation') %></h4>
<%= form_with(model: @vacation, data: { turbo: false }, url: employee_vacations_path(@employee)) do |f| %>
    <%= f.label t('views.employees.show.started_on') %>
    <%= f.date_field :started_on %>
    <%= f.label t('views.employees.show.finished_on') %>
    <%= f.date_field :finished_on %>
    <%= f.hidden_field :employee_id, value: @employee.id %>
    <%= f.submit t('views.employees.show.add_vacation') %>
<% end %>

<% if flash[:error] %>
    <p><%= flash[:error].join(', ') %></p>
<% end %>

<br>

<h3><%= t('views.employees.show.total_vacation_days') %>: <%= @total_vacation_days %></h3>
<br>
<% @vacations.reverse.each do |vacation| %>
    <p><%= vacation.started_on %> - <%= vacation.finished_on %></p>
<% end %>
