<h1>Employee Show</h1>

<p>Employee ID: <%= @department.id %></p>/
<p>Employee First name: <%= @department.first_name %></p>/
<p>Employee Last name: <%= @department.last_name %></p>/
<p>Employee Middle name: <%= @department.middle_name %></p>/
<p>Employee Passport data: <%= @department.passport_data %></p>/
<p>Employee Date of birth: <%= @department.date_of_birth %></p>/
<p>Employee Place of birth: <%= @department.place_of_birth %></p>/
<p>Employee Home address: <%= @department.home_address %></p>/
<p>Employee Department ID: <%= @department.department_id %></p>

<%= link_to "Edit", edit_department_path %>
