<div class="user_info">
    <h1><%= @employee.last_name %></h1>
    <h1><%= @employee.first_name %></h1>
    <h1><%= @employee.middle_name %></h1>
</div>
<div class="user_info">
    <h3>Position: <%= @last_position %></h3>
    <h3>Salary: <%= @salary %></h3>
    <p>Department ID: <%= @employee.department_id %></p>
</div>
<hr/>
<p>ID: <%= @employee.id %></p>
<p>Passport data: <%= @employee.passport_data %></p>
<hr/>
<div class="user_info">
    <p>Date of birth: <%= @employee.date_of_birth %></p>
    <p>Place of birth: <%= @employee.place_of_birth %></p>
</div>
<hr/>
<p>Home address: <%= @employee.home_address %></p>
<h1>----- Employee's position history</h1>

<h4>Add position</h4>
<%= form_with(model: @position_history, data: { turbo: false }, url: employee_position_histories_path(@employee)) do |f| %>
    <%= f.collection_select :position_id, Position.all, :id, :name, prompt: "Select Position" %>
    <%= f.label :started_on %>
    <%= f.date_field :started_on %>
    <%= f.label :finished_on %>
    <%= f.date_field :finished_on %>
    <%= f.hidden_field :employee_id, value: @employee.id %>
    <%= f.submit "Add position" %>
<% end %>

<% if flash[:position_errors] %>
 <p><%= flash[:position_errors].join(', ') %></p>
<% end %>
<br>

<% if @position %>
    <%= link_to "Edit", edit_employee_position_history_path(@employee, @position) %>
<% end %>
<br>
<% @position_histories.reverse.each do |position_history| %>
    <tr>
        <td>Position: <%= position_history.position.name %></td>
        <br>
        <td>Started on: <%= position_history.started_on %></td>
        <br>
        <td>Finished on: <%= position_history.finished_on %></td>
    </tr>
    <hr>
    <br>
<% end %>

<br>
<br>

<h2>Vacations</h2>
<br>
<h4>Add vacation</h4>
<%= form_with(model: @vacation, data: { turbo: false }, url: employee_vacations_path(@employee)) do |f| %>
    <%= f.label :started_on %>
    <%= f.date_field :started_on %>
    <%= f.label :finished_on %>
    <%= f.date_field :finished_on %>
    <%= f.hidden_field :employee_id, value: @employee.id %>
    <%= f.submit "Add Vacation" %>
<% end %>

<% if flash[:error] %>
    <p><%= flash[:error].join(', ') %></p>
<% end %>

<br>

<h3>Total vacation days: <%= @total_vacation_days %></h3>
<br>
<% @vacations.reverse.each do |vacation| %>
    <p><%= vacation.started_on %> - <%= vacation.finished_on %></p>
<% end %>
