<h1>Employee Show</h1>

<p>Employee ID: <%= @employee.id %></p>/
<p>Employee First name: <%= @employee.first_name %></p>/
<p>Employee Last name: <%= @employee.last_name %></p>/
<p>Employee Middle name: <%= @employee.middle_name %></p>/
<p>Employee Passport data: <%= @employee.passport_data %></p>/
<p>Employee Date of birth: <%= @employee.date_of_birth %></p>/
<p>Employee Place of birth: <%= @employee.place_of_birth %></p>/
<p>Employee Home address: <%= @employee.home_address %></p>/
<p>Employee Department ID: <%= @employee.department_id %></p>

<%= link_to "Edit", edit_employee_path %>
