<h1><%= t('views.position.index.title') %></h1>
<h2><%= t('views.position.index.description') %></h2>

<%= link_to "New Position", new_position_path %>

<h3><%= t('views.position.index.positions_number') %>:  <%= @positions.count %></h3>

<% @positions.each do |position| %>
    <%= link_to position.name, position %>
    <%= link_to t('views.position.index.edit'), edit_position_path(position) %>
    <%= button_to t('views.position.index.delete'), position_path(position), method: :delete, data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' } %>
<% end %>
