<h1>Positions Index</h1>
<h2>Here are the numbers of all the company's Positions</h2>

<%= link_to "New Position", new_position_path %>

<h3>Number on Positions: <%= @positions.count %></h3>

<% @positions.each do |position| %>
    ------- <%= link_to position.name, position %>
    <%= link_to "Edit", edit_position_path(position) %>
    <%= button_to "Delete", position_path(position), method: :delete, data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' } %>
    /
<% end %>
