<h1>Position Show</h1>

<p>Position ID: <%= @position.id %></p>/
<p>Position Name: <%= @position.name %></p>/
<p>Position Salary: <%= @position.salary %></p>
<p>Position Vacation Days: <%= @position.vacation_days %></p>

<%= link_to "Edit", edit_position_path %>
