<h1><%= t('views.position.show.title') %></h1>

<p><%= t('views.position.show.id') %>: <%= @position.id %></p>/
<p><%= t('views.position.show.name') %>: <%= @position.name %></p>/
<p><%= t('views.position.show.salary') %>: <%= @position.salary %></p>
<p><%= t('views.position.show.vacation_days') %>: <%= @position.vacation_days %></p>

<%= link_to t('views.position.show.edit'), edit_position_path %>
