<h1>Position Show</h1>

<p>Position ID: <%= @department.id %></p>/
<p>Position Name: <%= @department.name %></p>/
<p>Position Salary: <%= @department.salary %></p>
<p>Position Vacation Days: <%= @department.vacation_days %></p>

<%= link_to "Edit", edit_position_path %>
