<%= form_with(model: @department, data: { turbo: false }, url: @department.persisted? ? department_path(@department) : departments_path) do |f| %>
    <p><%= t('views.department.form.name') %></p>
    <%= f.text_field :name %>

    <p><%= t('views.department.form.abbreviation') %></p>
    <%= f.text_field :abbreviation %>

    <%= f.submit department.persisted? ? t('views.department.form.update') : t('views.department.form.create') %>
<% end %>
