<h1><%= t('views.department.index.title') %></h1>
<h2><%= t('views.department.index.description') %></h2>

<%= link_to t('views.department.index.new_department'), new_department_path %>

<h2><%= t('views.department.index.departments_number') %>: <%= @departments.count %></h2>

<% @departments.each do |department| %>
    <% department_decorator = department.decorate %>
    <% if department_decorator.current_manager %>
        <% manager = department_decorator.current_manager %>
        <p><%= t('views.department.index.department_manager') %>: <%= link_to "#{manager.first_name} #{manager.last_name}", manager %></p>
    <% else %>
        <p><%= t('views.department.index.no_manager') %></p>
    <% end %>

    <%= link_to department.name, department %>
    <p><%= t('views.department.index.department_employees_number') %>: <%= department.employees.count %></p>
    <%= link_to t('views.department.index.edit'), edit_department_path(department) %>
    <%= button_to t('views.department.index.delete'), department_path(department), method: :delete, data: { turbo_method: :delete, turbo_confirm: t('views.department.index.confirmation') } %>
    <hr>
<% end %>
