<h1>Department Information</h1>

<p>Department ID: <%= @department.id %></p>
<p>Department Name: <%= @department.name %></p>
<p>Department Abbreviation: <%= @department.abbreviation %></p>

<%= link_to "Edit", edit_department_path %>
<hr />
<br>
<%= link_to "Add Employees", new_employee_path %>
<br>
<%= link_to "Show employees vacations", "/departments/#{@department.id}/employees" %>

<h2>Department's employees:</h2>
<% @employees.each do |employee| %>
    <div class="user_info">
        <li><%= link_to "#{employee.first_name} #{employee.last_name}", employee_path(employee) %></li>
        <p><%= employee.position_histories.last&.position&.name %></p>
    </div>
<% end %>
