<%= form_with(model: @position_history, data: { turbo: false }, url: employee_position_history_path) do |f| %>

    <%= f.text_field :name, value: @position_history.position.name, readonly: true  %>

    <%= t('views.position_histories.edit.started_on') %>
    <%= f.date_field :started_on, readonly: true %>

    <%= t('views.position_histories.edit.finished_on') %>
    <%= f.date_field :finished_on %>

    <%= f.submit t('views.position_histories.edit.submit') %>
<% end %>

<% if @position_history.errors.any? %>
  <% @position_history.errors.full_messages.each do |message|%>
  <p><%= message %></p>
  <%end%>
<%end%>
